<!DOCTYPE html>
<html>
  <head>
    <title>FloatingNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <script type="text/javascript">
      window.logo = "<%= image_url('actual-cloud-logo.png').html_safe %>"
      window.options = "<%= image_url('options_icon.png').html_safe %>"
      window.glass = "<%= image_url('magnifying_glass.png').html_safe %>"
      window.notifications = "<%= image_url('notification_logo.png').html_safe %>"
      window.mlb = "<%= image_url('MLB_background').html_safe %>"
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
